// Définition des différentes couleurs
$primary: #A1AA75;
$secondary: #5D6537;
$tertiary: #E0D05C;
$dark:#3A2A10;

$black:  #292222;
$white: #ffffff;

// Définition des polices utilisées
$font-family-sans-serif: "Fredoka", sans-serif !default;
$font-family-serif: "Lato", serif !default;

@import "../node_modules/bootstrap/scss/bootstrap";

// Application des polices
h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-sans-serif;
  }
  
  body {
    font-family: $font-family-serif;
  }


// Styles spécifiques pour la NAVBAR
.navbar {
  background-color: $primary !important;
}

.navbar .nav-link,
.navbar .navbar-brand {
  color: $dark !important; // Texte de la navbar en couleur dark
  padding: 0 70px; 
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: $secondary !important; // Couleur du texte au survol
}